

<h2>Create a new car</h2>
<hr />

@if (ViewData["ErrorMessage"] != null)
{
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
}

<form method="post" asp-controller="Car" asp-action="Add">   

    <input type="submit" value="Add car" class="btn btn-primary" />
</form>

<div>
    <a asp-controller="Car" asp-action="Index">Back to list</a>
</div>