

<h2>Deleting </h2>
<hr />

@if(ViewData["ErrorMessage"] != null)
{
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
}



<form method="post" asp-action="Delete">
    <input type="hidden" />
    <input type="submit" value="Delete car" class="btn btn-danger" onclick="javascript: return confirm('Are you sure you want to delete this car?');" />
</form>

<div>
    <a asp-controller="Car" asp-action="Index">Back to list</a>
</div>