<h2>Update</h2>
<hr />

<form method="post" asp-controller="Car" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" />
    
    <input type="submit" value="Update car" class="btn btn-primary" />
</form>
<div>
    <a asp-controller="Car" asp-action="Index">Back to list</a>
</div>