

    <table class="table table-condensed table-bordered">
        <tr>
            <th>
                Model
            </th>
            <th>
                Number Plate
            </th>
            <th>
                Location
            </th>            
            <th>
                Actions
            </th>
        </tr>

<p>
    <a class="btn btn-primary" asp-action="Add">Add new car</a>
</p>
