


@if (ViewData["ErrorMessage"] != null)
{
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
}

<form method="post" asp-controller="Booking" asp-action="Add">
    <div asp-validation-summary="All" class="text-danger"></div>   

    <input type="submit" value="Book car" class="btn btn-primary" />
</form>
