

<h2>Editing booking</h2>
<hr />

<form method="post" asp-controller="Booking" asp-action="Edit">    
    <input type="submit" value="Update booking" class="btn btn-primary" />
</form>
<div>
    <a asp-controller="Booking" asp-action="Index">Back to bookings</a>
</div>
