    <table class="table table-condensed table-bordered">
        <tr>
            <th>
                Booked Car
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Actions
            </th>
        </tr>       

    </table>   
